/* Variables */
/* Reset */
* {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Helvetica, Arial, Sans-Serif;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

small {
  font-size: 85%;
}

:focus {
  outline: none;
  outline-offset: 0;
}

body {
  background-color: #999999;
}

button > span {
  pointer-events: none;
}

/* Scrollbars */
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.07);
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Patterns */
.pattern {
  background-image: linear-gradient(#cccccc 1px, transparent 1px), linear-gradient(90deg, #cccccc 1px, transparent 1px);
  background-size: 8px 8px, 8px 8px;
  background-position: 0 0, 0 0;
  background-repeat: repeat;
}

/* Mixins */
/* Layout */
.ui-module {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#IOConsole {
  display: flex;
  background-color: grey;
  min-width: 800px;
  min-height: 300px;
  width: 100vw;
  height: 100vh;
}

#navigation {
  display: flex;
  flex-direction: column;
  background-color: #a1a1a1;
  min-width: 200px;
  max-width: 300px;
  flex: 1;
}

#workspace {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: auto;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 40px;
}

#main {
  flex: 3.5;
  position: relative;
  background-color: #c4c4c4;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.secondaryNav {
  height: 35px;
}

/* Element styling */
#menuBackground, #popoverBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.popoverContainer {
  background-color: rgba(235, 235, 235, 0.95);
  padding: 6px 8px 5px 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  border-radius: 4px;
  font-size: 13px;
}

.popoverContainer .popoverClose {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  text-align: center;
}

.popoverContainer .popoverClose:hover {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(0, 0, 0, 0.1);
}

.popoverContainer .ifcContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  overflow-y: auto;
  max-height: 400px;
}

.popoverContainer .ifcContainer .ifcList {
  margin-top: 5px;
  padding: 0 12px;
}

.popoverContainer .ifcContainer .ifcList div {
  letter-spacing: 0.04em;
  padding: 3px 10px 3px 25px;
  margin-top: 1px;
}

.popoverContainer .ifcContainer .ifcList div:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.popoverContainer .ifcContainer .ifcList div.selected {
  background-image: url("../img/check.png");
  background-position: 6px 50%;
  background-size: 12px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}

.popoverContainer .ifcContainer .ifcList div.selected:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.popoverContainer .ifcContainer .ifcList:last-of-type h2 {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 5px;
}

.popoverContainer .ifcContainer h2 {
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 11px;
}

.nose {
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: rgba(235, 235, 235, 0.95);
  border-right-color: transparent;
  border-left-color: transparent;
}

.inlineInstruction {
  font-style: italic;
  opacity: 0.65;
}

#hostInterfaces {
  width: 250px;
  padding: 10px;
}

.menuContainer {
  background-color: #dedede;
  padding-bottom: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
}

.menuContent .menuSection {
  padding: 3px 10px;
  margin-top: 5px;
  font-size: 11px;
  color: #666666;
  border-top: 1px solid #bfbfbf;
}

.menuContent li {
  list-style: none;
}

.menuContent li.selected {
  background-image: url("../img/check.png");
  background-position: 10px 50%;
  background-size: 10px;
}

.menuContent li:hover {
  background-color: #f2f2f2;
}

.menuContent li.menuSection {
  background-color: transparent;
}

.menuContent li.disabled {
  background-color: transparent;
}

.menuContent li:first-of-type {
  margin-top: 3px;
  border: none;
}

.menuContent li a {
  display: block;
  padding: 2px 50px 2px 25px;
  font-size: 14px;
}

.modalContainer {
  background-color: #bfbfbf;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  width: auto;
  height: auto;
}

.modalContainer div {
  font-size: 13px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 2px;
}

.modalContainer p {
  font-size: 13px;
  margin-bottom: 6px;
  color: #595959;
}

.modalContainer .help {
  font-size: 12px;
  padding: 3px 8px;
  color: #737373;
  -webkit-user-select: text;
  cursor: text;
}

.modalContainer label {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
  margin-top: 3px;
}

.modalContainer label input {
  font-size: 16px;
  margin-right: 5px;
}

.modalContainer header {
  display: flex;
  align-items: center;
  background-color: #949494;
  border-bottom: 1px solid #8f8f8f;
  height: 28px;
}

.modalContainer header h1 {
  font-size: 11px;
  font-weight: normal;
  color: #333333;
  flex: 1;
  margin-left: 12px;
  padding-top: 2px;
}

.modalContainer header button {
  width: 20px;
  height: 20px;
  color: #4d4d4d;
  background-color: transparent;
  margin-right: 5px;
}

.modalContainer header button:hover {
  color: #1a1a1a;
  background-color: rgba(0, 0, 0, 0.1);
}

.modalContainer main {
  flex-grow: 1;
  margin: 15px 30px 40px 30px;
}

.modalContainer footer {
  background-color: #a8a8a8;
  border-top: 1px solid #a3a3a3;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
  padding: 0 9px;
}

.modalContainer footer .validationMessage {
  font-size: 13px;
  margin-right: 6px;
  margin-top: 2px;
  color: #af183b;
}

.modalContainer textarea {
  width: 350px;
  height: 100px;
  padding: 2px 6px;
}

.modalContainer input[type=text] {
  width: 350px;
  padding: 2px 6px;
}

.modalContainer #librariesForm input[type=text] {
  width: 500px;
}

.modalContainer input[type=button] {
  padding: 4px 12px;
  min-width: 90px;
  margin: 4px;
  background-color: #949494;
  border: 1px solid #878787;
  border-radius: 3px;
  white-space: nowrap;
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modalContainer input[type=button]:hover:not(.disabled) {
  background-color: #9c9c9c;
  border: 1px solid #8c8c8c;
}

.modalContainer input.affirmative {
  background-color: #d9d9d9;
  border: 1px solid #e6e6e6;
}

.modalContainer input.affirmative:hover:not(.disabled) {
  background-color: #e6e6e6;
  border: 1px solid white;
}

.componentInProgress {
  position: absolute;
  z-index: 1000;
  padding: 10px 14px;
  background-color: rgba(230, 230, 230, 0.6);
  outline: 1px dashed rgba(128, 128, 128, 0.6);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  cursor: -webkit-grab;
  justify-content: center;
  align-items: center;
}

.componentInProgress .componentName {
  text-align: center;
  line-height: 1;
}

.componentInProgress .componentVersion {
  font-size: 85%;
  opacity: 0.6;
}

.componentInProgress * {
  cursor: -webkit-grab;
}

.policyInProgress {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  padding: 6px 8px;
  border-width: 1px;
  border-style: dashed;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  cursor: -webkit-grab;
  justify-content: left;
  align-items: top;
}

.policyInProgress .policyVersion {
  font-size: 85%;
  opacity: 0.6;
  margin-left: 0.5em;
  display: inline-block;
}

.policyInProgress * {
  cursor: -webkit-grab;
}

.instrumentInProgress {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  padding: 6px 8px;
  border-width: 1px;
  border-style: dashed;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  cursor: -webkit-grab;
  justify-content: left;
  align-items: top;
}

.instrumentInProgress .instrumentVersion {
  font-size: 85%;
  opacity: 0.6;
  margin-left: 0.5em;
  display: inline-block;
}

.instrumentInProgress * {
  cursor: -webkit-grab;
}

.workspace {
  z-index: 0;
}

.workspace .hostComponent {
  position: absolute;
  background-color: rgba(140, 140, 140, 0.8);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.35);
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
}

.workspace .hostComponent .hostComponentLabel {
  text-overflow: ellipsis;
  background-color: transparent;
  padding: 2px 8px;
  white-space: nowrap;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.workspace .hostComponent .hostComponentLabel:hover {
  background-color: rgba(0, 0, 0, 0.05);
  outline: 1px solid rgba(0, 0, 0, 0.15);
}

.workspace .hostComponent .hostComponentLabel.isOpenMenu {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px solid rgba(0, 0, 0, 0.25);
}

.workspace .hostComponent.isNotMapped .hostComponentLabel {
  background-color: white;
  outline: 1px solid #ca1c47;
  color: #ca1c47;
}

.workspace .hostComponent.isNotMapped .hostComponentLabel:hover {
  background-color: #f9ebef;
}

.workspace .hostComponent.isNotMapped .hostComponentLabel.isOpenMenu {
  background-color: #ebbcc9;
}

.workspace .instrument {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(38, 38, 38, 0.9);
  padding: 6px 8px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: top;
}

.workspace .instrument .instrumentVersion {
  font-size: 85%;
  opacity: 0.6;
  margin-left: 0.5em;
  display: inline-block;
}

.workspace .instrument .content {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
}

.workspace .instrument .grab {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 0;
  right: 0;
}

.workspace .instrument .grab:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.workspace .instrument .bottomRight {
  cursor: nwse-resize;
  bottom: 0;
  right: 0;
}

.workspace .instrument .dragSource {
  padding: 0 6px 2px 2px;
  font-size: 9px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  position: absolute;
  bottom: 7px;
  left: 9px;
  display: inline-block;
  visibility: hidden;
  vertical-align: baseline;
}

.workspace .instrument .dragSource:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: -webkit-grab;
}

.workspace .instrument .dragSource * {
  pointer-events: none;
}

.workspace .instrument .dragSource i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #b3b3b3;
  border-radius: 20px;
  margin-right: 3px;
  position: relative;
  top: 2px;
  border: 1px solid #333333;
}

.workspace .instrument:hover .dragSource {
  visibility: visible;
}

.workspace .instrument.pendingDeletion {
  border: 1px dashed black;
  opacity: 0.4;
}

.workspace .instrumentLink path {
  stroke: rgba(64, 64, 64, 0.2);
  pointer-events: none;
}

.workspace .instrumentLink circle {
  stroke: #404040;
  fill: #bfbfbf;
  pointer-events: fill;
}

.workspace .instrumentLink circle.viewer {
  fill: #404040;
}

.workspace .policy {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  padding: 6px 8px;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: left;
  align-items: top;
}

.workspace .policy .policyVersion {
  font-size: 85%;
  opacity: 0.6;
  margin-left: 0.5em;
  display: inline-block;
}

.workspace .policy .grab {
  position: absolute;
}

.workspace .policy .top, .workspace .policy .bottom {
  height: 15px;
  left: 20px;
  right: 20px;
  cursor: ns-resize;
}

.workspace .policy .left, .workspace .policy .right {
  bottom: 20px;
  top: 20px;
  width: 15px;
  cursor: ew-resize;
}

.workspace .policy .topRight, .workspace .policy .bottomLeft {
  cursor: nesw-resize;
}

.workspace .policy .topLeft, .workspace .policy .bottomRight {
  cursor: nwse-resize;
}

.workspace .policy .topRight, .workspace .policy .topLeft, .workspace .policy .bottomRight, .workspace .policy .bottomLeft {
  height: 20px;
  width: 20px;
}

.workspace .policy .top, .workspace .policy .topRight, .workspace .policy .topLeft {
  top: 0;
}

.workspace .policy .bottom, .workspace .policy .bottomRight, .workspace .policy .bottomLeft {
  bottom: 0;
}

.workspace .policy .right, .workspace .policy .topRight, .workspace .policy .bottomRight {
  right: 0;
}

.workspace .policy .left, .workspace .policy .topLeft, .workspace .policy .bottomLeft {
  left: 0;
}

.workspace .policy.pendingDeletion {
  opacity: 0.7;
  border-style: dashed;
}

.workspace .component {
  padding: 10px 14px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  outline: 1px solid rgba(153, 153, 153, 0.6);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workspace .component .componentName {
  text-align: center;
  line-height: 1;
}

.workspace .component .componentVersion {
  font-size: 85%;
  opacity: 0.6;
}

.workspace .component.pendingDeletion {
  background-color: rgba(230, 230, 230, 0.6);
  outline: 1px dashed rgba(128, 128, 128, 0.6);
}

.workspace svg, .workspace text {
  pointer-events: none;
  font-size: 10px;
  fill: grey;
  text-anchor: middle;
  position: absolute;
}

.workspace text {
  text-anchor: middle;
  dominant-baseline: central;
}

.workspace polygon {
  pointer-events: fill;
}

.workspace path {
  pointer-events: stroke;
}

.workspace .interface {
  position: absolute;
  border: 1px solid red;
}

.workspace .attachmentInterface {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.workspace .discreet {
  opacity: 0.2;
}

.workspace .wireContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.version {
  font-size: 85%;
  opacity: 0.6;
  margin: 0 8px 0 5px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.invalid {
  outline: 1px solid #af183b;
}

#navigation .app-actions {
  background-image: url("../img/hamburger.svg");
  background-size: 12px;
  margin-right: 4px;
}

#navigation .add, #navigation .app-actions {
  display: block;
  text-align: left;
  padding-left: 7px;
  height: 24px;
  width: 26px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}

#navigation .add:hover:not(.disabled), #navigation .app-actions:hover:not(.disabled) {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.2);
}

#navigation .add.isOpenMenu, #navigation .app-actions.isOpenMenu {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.home {
  border-bottom: 1px solid #941432;
  background: linear-gradient(#ca1c44, #af183b);
  padding: 0 8px 0 15px;
  display: flex;
  flex: 0 0 40px;
  align-items: center;
}

.home h1 {
  color: white;
  font-size: 10px;
  flex-grow: 1;
}

.home .logo {
  height: 14px;
  width: 14px;
  margin-right: 6px;
}

.primaryNav {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.primaryNav .selected {
  background-color: rgba(255, 255, 255, 0.5);
}

.primaryNav h1 {
  color: #4d4d4d;
  font-size: 11.5px;
  flex-grow: 1;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  height: 15px;
}

.primaryNav section {
  padding: 6px 8px 8px 15px;
}

.projects {
  outline: 1px solid gray;
  border-bottom: 2px solid #a1a1a1;
  flex: 0 0 auto;
  overflow-y: auto;
  max-height: 30vh;
  box-sizing: content-box;
  padding-bottom: 10px;
}

.projects .project {
  padding: 4px 8px 3px 8px;
  margin-left: -8px;
}

.projects .project h2 {
  font-size: 13px;
  line-height: 100%;
  align-items: baseline;
}

.projects .project .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects .project:not(.selected):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.scrolled {
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}

.ioModules {
  flex: 1 1 auto;
  border-bottom: 2px solid #999999;
  overflow-y: auto;
}

.ioModules h2 {
  display: flex;
  font-size: 11px;
  align-items: baseline;
  text-transform: capitalize;
  font-style: italic;
  color: #666666;
  padding-top: 1px;
}

.ioModules h2 .category {
  padding-left: 3px;
}

.ioModules h2:hover {
  text-decoration: underline;
}

.ioModules h2 * {
  pointer-events: none;
}

.ioModules h3 {
  font-size: 13px;
  line-height: 100%;
}

.ioModules .moduleItem {
  display: flex;
  padding: 5px 5px 5px 15px;
  margin: 0 -5px;
}

.ioModules .moduleItem:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: -webkit-grab;
}

.ioModules .moduleItem:hover * {
  cursor: -webkit-grab;
}

.ioModules .moduleItem .content {
  flex: 1 1 auto;
  margin-right: 3px;
}

.ioModules .moduleDescription {
  font-size: 70%;
  color: #616161;
  padding-bottom: 2px;
}

.ioModules .categorySection {
  border-bottom: 1px dotted grey;
  padding: 1px 0 4px 0;
  margin-right: 6px;
}

.ioModules .categorySection .disclosure {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #666666;
  transform-origin: 50% 50%;
}

.ioModules .categorySection .open {
  transform: rotate(90deg);
}

.ioModules .categorySection .closed {
  transform: rotate(0deg);
}

.tools {
  display: flex;
  align-items: baseline;
  height: 40px;
  font-size: 13px;
  padding: 7px 15px;
  background-color: rgba(166, 166, 166, 0.5);
  border-bottom: 1px solid rgba(153, 153, 153, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tools span {
  flex-shrink: 0;
}

.tools .version {
  margin-left: 2px;
}

.tools .projectName, .tools .projectNameInput {
  padding: 2px 2px 2px 3px;
  margin-right: 2px;
}

.tools .projectName:hover {
  outline: 1px solid rgba(0, 0, 0, 0.15);
}

.tools button, .tools a {
  padding: 1px 8px 1px 7px;
  text-decoration: none;
  min-width: 20px;
  margin: 2px;
  background-color: #9e9e9e;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  white-space: nowrap;
  font-size: 10px;
  color: #4d4d4d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tools button:hover:not(.disabled), .tools a:hover:not(.disabled) {
  background-color: #949494;
  border: 1px solid #8a8a8a;
}

.tools .buttons {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  font-size: 11.5px;
  padding-left: 25px;
}

.tools .buttons button {
  padding: 3px 12px;
  min-width: 50px;
  margin: 3px;
  background-color: #999999;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  color: #1a1a1a;
  white-space: nowrap;
}

.tools .buttons button:hover:not(.disabled) {
  background-color: #a1a1a1;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: -2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  opacity: 0.6;
}

.modalBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(26, 26, 26, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
